<div class='float-right'>
  <%= form_with url: admin_stats_free_report_path, method: :post, local: true do |f| %>
    <div class='form-group'>
      <%= f.label '開始日' %>
      <%= f.date_select :start_at, start_year: Time.current.year - 1, end_year: Time.current.year + 1, default: Time.current - 1.weeks %>
    </div>
    <div class='form-group'>
      <%= f.label '完了日' %>
      <%= f.date_select :end_at, start_year: Time.current.year - 1, end_year: Time.current.year + 1%>
    </div>
    <%= submit_tag 'generate' %>
  <% end %>
</div>