<div class='float-right'>
  <%= form_with url: admin_stats_maidens_report_path, method: :post, local: true do |f| %>
    <div class='form-group'>
      <%= f.label '学生登録 (開始)' %>
        <%= f.date_select :start_at, start_year: Time.current.year - 5, end_year: Time.current.year + 1, default: Time.current - 5.years%>
    </div>
    <div class='form-group'>
      <%= f.label '学生登録 (終了)' %>
      <%= f.date_select :end_at, start_year: Time.current.year - 5, end_year: Time.current.year + 1, default: Time.current - 1.months + 1.days%>
    </div>
    <div class='form-group'>
      <%= f.label '国選択' %>
      <% countries_jp = Hash.new %>
      <%countries.each {|country| countries_jp.merge!(ISO3166::Country[country].translated_names[1] => country) }%>
      <%= f.select :country,  countries_jp, {prompt: "全て"}%>
    </div>
    <div class="form-group">
      <%= f.label '追加会話回数'%>
      <%= f.select :add_conversations, 1..20, selected: 3 %>
    </div>
    <div class="form-group">
      <%= f.label '会話有効期限 '%>
      <%= f.date_select :expired_at, start_year: Time.current.year, default: Time.current + 2.weeks %>
    </div>
    <%= submit_tag 'generate'%>
  <% end %>
</div>
