<%= form_tag "/billing/students/issues/stripe/charge/" + @student.auth_token, id: "payment-form", method: "post" %>
  <div class="form-row">

    <div class="billing-coupon-group">
      <div class="select-group sc-iujRgT col-md-8">
        <div class="sc-GMQeP kusbSs">
          <div class="sc-iuJeZd esWwxq">Coupon code</div>
          <input class="sc-bAeIUo csKJBT" data-error="false" type="text" placeholder="Discounting coupon code" data-name-input="true" name="code" value="<%= @coupon.nil? ? '' : @coupon.code %>" />
        </div>
        <div class="sc-bMVAic gizaNQ"></div>
      </div>
      <div class="btn-apply sc-gJWqzi col-md-4">
        <button class="sc-bdVaJa eEjsbL" data-active="true" font-size="32" height="88" type="blue" width="184">Apply</button>
      </div>
    </div>

    <div class="pricing pricing__row multiple">
      <% @packages.each_with_index do |package, index| %>
      <div>
        <div class="pricing__col-md-3" data-package-name="<%= package.id %>">
          <div class="pricing__block pricing__block-pricing">
            <div class="pricing__table<%= index === @packages.length - 2 ? " pricing__table-danger" : "" %>">
              <h6 class="pricing__category<%= index === @packages.length - 2 ? " pricing__category-danger" : "" %>"><%= @package_names[index] %> <img class="selected-tick <%= index === @packages.length - 2 ? "" : "hidden" %>" src="/assets/img/students/billing/tick<%= index === @packages.length - 2 ? "-reverse" : "" %>.png" /></h6>
              <h1 class="pricing__block-caption pricing__discounted<%= index === @packages.length - 2 ? "-danger" : "" %>">
                <small>$</small><span><%= package.discounted_price %></span><small>/ mo</small>
              </h1>
              <div class="pricing__original-price<%= index === @packages.length - 2 ? "-danger" : "" %>">$ <%= package.original_price %> / mo</div>
              <ul>
                <li><b><%= package.subscription? ? 'Unlimited' : package.conversations %> conversation<%= package.subscription? || package.conversations > 1 ? "s" : "" %></b></li>
                <% if package.bonus_conversations > 0 %>
                  <li><span>Includes&nbsp;</span><b><%= package.bonus_conversations %> bonus conversation<%= package.bonus_conversations > 1 ? "s" : "" %></b></li>
                <% elsif package.subscription? %>
                  <li><%= "#{package.duration} month" %><br />recurring</li>
                <% else %>
                  <li>No bonus<br />conversations</li>
                <% end %>
                <li><b><%= package.subscription? ? "" : "Expires in #{package.duration} month" %></b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="select-group sc-lhVmIH iSsxwd select-payment-plan">
      <div class="sc-iELTvK bQbNng">Selected payment plan</div>
      <select name="package_name" class="sc-cmTdod coCPFM" required="">
        <% @packages.each_with_index do |package, index| %>
        <option value="<%= package.id %>"<%= index === @packages.length - 2 ? " selected" : "" %>><%= "#{package.discounted_price} USD / #{package.conversations < 0 ? 'Unlimited' : package.conversations} conversation#{package.conversations < 0 || package.conversations > 1 ? "s" : ""}" %></option>
        <% end %>
      </select>
      <div class="sc-btzYZH hixNgJ"></div>
    </div>

    <div class="sc-iujRgT farOFZ">
      <div class="sc-GMQeP kusbSs">
        <label class="sc-iuJeZd esWwxq" for="card-element">
          Credit card number
        </label>
        <!-- Element のエラーを入れます。 -->
        <div id="card-errors" role="alert"></div>
        <!-- Stripe Element がここに入ります。 -->
        <div id="card-element" style="width: 100%; height: 32px;"></div>
      </div>
      <div class="sc-bMVAic gizaNQ"></div>
    </div>
  </div>

<div class="sc-gJWqzi fZlDTF">
  <button class="sc-bdVaJa eEjsbL" data-active="true" font-size="32" height="88" type="blue" width="494">Purchase</button>
</div>

<script>
  const stripe = Stripe('<%= @stripe_public_key %>');
  const elements = stripe.elements();
  //Elementのマウントまで
  // Element作成時に options から スタイルを調整できます.
  const style = {
    base: {
      // ここでStyleの調整をします。
      fontSize: '24px',
      color: "#32325d",
    }
  };

  // card Element のインスタンスを作成
  const card = elements.create('card', {style: style});

  // マウント
  card.mount('#card-element');

  // エラーリスナー
  card.addEventListener('change', function(event) {
    console.log(event);
    const displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  //トークン作成もしくはエラー表示
  const form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    $('button.eEjsbL').prop('disabled', 'disabled');
    $('button.eEjsbL').css('filter', 'grayscale(100%)');

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // エラー表示.
        const errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
        $('button.eEjsbL').prop('disabled', false);
        $('button.eEjsbL').css('filter', 'grayscale(0%)');
      } else {
        // トークンをサーバに送信
        stripeTokenHandler(result.token);
      }
    });

    return false;
  });

  function stripeTokenHandler(token) {
    const hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripe_token');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
    console.log(hiddenInput);
    form.submit();
  }

  $('.btn-apply button').click(function(){
      $(form).attr('action', '<%= "/billing/students/issues/stripe/new/" + @student.auth_token %>');
      $(form).submit();
      return false;
  });
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script>
    $('.multiple').slick({
        infinite: true,
        dots:true,
        slidesToShow: 1,
        centerMode: true, //要素を中央寄せ
        centerPadding:'120px', //両サイドの見えている部分のサイズ
        autoplay: false, //自動再生
        initialSlide: 2,
    });
    $('.pricing__col-md-3').click(function(){
        $('.selected-tick').not('.hidden').addClass('hidden');
        $('.selected-tick.hidden', this).removeClass('hidden');
        $('[name=package_name] :selected').attr('selected', false);
        $('[name=package_name] [value=' + $(this).data("package-name") + ']').attr('selected', true);
        return false;
    });
    $('[name=package_name]').change(function(){
        var selected_package_name = $(this).val();
        $('.pricing__col-md-3').each(function(){
            if($(this).data('package-name') == selected_package_name) {
                $('.selected-tick.hidden', this).removeClass('hidden');
            }else{
                $('.selected-tick', this).not('.hidden').addClass('hidden');
            }
        });
    });
</script>
