<!DOCTYPE html>
<html>

<head>
  <title>Error - Sail</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <meta name="sail-role-type" content="<%= @role_type %>">
</head>

<body class="org error">

  <% if @current_staff.present? %>
  <%= render partial: "components/organizations/header" %>
  <% end %>

  <div class="justify-content-center">
    <main role="main" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-4">
      <%= yield %>
    </main>
  </div>

  <script src="<%= js_file_path('app.bundle.js') %>"></script>

</body>

</html>